.box {
    display: flex;
    // height: calc(100vh - 176rpx - calc(118rpx + env(safe-area-inset-bottom)));
    height: calc(100vh - 176rpx - 158rpx);
}

.nav1 {
   height: 100%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.placeholder {
    width: 100%;
    height: 176rpx;
}

.title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92rpx;
    font-size: 24rpx;
}

.select {
    background: #F5F6F8;
    color: #9B7B4E;
    font-size: 24rpx;
    box-sizing: border-box;
}

.content {
    //   padding: 0 30rpx;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.subtitle {
    width: 100%;
}

.card_con {
    width: calc(100% - 180rpx);
    height: 100%;
    background-color: #F5F6F8;
    overflow-y: auto;
}
.tabbar_place{
    width: 100%;
    height: calc(118rpx + env(safe-area-inset-bottom));
}
.res{
    height: 100vh;
}